trunk/RppitoNet_New/RppitoNet/Web References/recolector_ws/recolector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ListadoRecolector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pFecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListadoRecolectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListadoRecolectorResult" type="tns:ArrayOfRecolectorBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecolectorBE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RecolectorBE" nillable="true" type="tns:RecolectorBE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecolectorBE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdRecolector" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contenido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoVista" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Idseccion" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoNoticia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Idreportero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nomreportero" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Idvideo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Idimagen" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="prioridad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistroRecolector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdRecolector" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistroRecolectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistroRecolectorResult" type="tns:RecolectorBE" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListadoRecolectorSoapIn">
    <wsdl:part name="parameters" element="tns:ListadoRecolector" />
  </wsdl:message>
  <wsdl:message name="ListadoRecolectorSoapOut">
    <wsdl:part name="parameters" element="tns:ListadoRecolectorResponse" />
  </wsdl:message>
  <wsdl:message name="RegistroRecolectorSoapIn">
    <wsdl:part name="parameters" element="tns:RegistroRecolector" />
  </wsdl:message>
  <wsdl:message name="RegistroRecolectorSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroRecolectorResponse" />
  </wsdl:message>
  <wsdl:portType name="recolectorSoap">
    <wsdl:operation name="ListadoRecolector">
      <wsdl:input message="tns:ListadoRecolectorSoapIn" />
      <wsdl:output message="tns:ListadoRecolectorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistroRecolector">
      <wsdl:input message="tns:RegistroRecolectorSoapIn" />
      <wsdl:output message="tns:RegistroRecolectorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="recolectorSoap" type="tns:recolectorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoRecolector">
      <soap:operation soapAction="http://tempuri.org/ListadoRecolector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroRecolector">
      <soap:operation soapAction="http://tempuri.org/RegistroRecolector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="recolectorSoap12" type="tns:recolectorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListadoRecolector">
      <soap12:operation soapAction="http://tempuri.org/ListadoRecolector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroRecolector">
      <soap12:operation soapAction="http://tempuri.org/RegistroRecolector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="recolector">
    <wsdl:port name="recolectorSoap" binding="tns:recolectorSoap">
      <soap:address location="http://localhost:3270/recolector.asmx" />
    </wsdl:port>
    <wsdl:port name="recolectorSoap12" binding="tns:recolectorSoap12">
      <soap12:address location="http://localhost:3270/recolector.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>